<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>GYM-PT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
   rel="stylesheet"
   integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
   crossorigin="anonymous">
<script
   src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
   crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">

<link th:href="@{/css/atag.css}" rel="stylesheet">
<!-- a태그관련 스타일 -->
<link th:href="@{/css/btnprimary.css}" rel="stylesheet">
<!-- btn 스타일 -->
<link th:href="@{/css/navbar.css}" rel="stylesheet">
<!-- navbar 스타일 -->
<link th:href="@{/css/footer.css}" rel="stylesheet">
<!-- footer 스타일 -->


<style>
/* CSS styles for the cards and the grid layout */
.image-grid {
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
}

@media ( max-width : 767px) {
   .image-grid .card {
      border: none; /* 카드 주변 테두리 제거 */
      padding: 1px 1px; /* 위아래 간격 조정 */
      background-color: #212529;
   }
}
@media ( min-width : 767px) {
   .image-grid .card {
      box-sizing: border-box; /* 패딩과 테두리를 요소의 너비에 포함 */
      position: relative;
      overflow: hidden;
      border: none; /* 카드 주변 테두리 제거 */
      background-color: #212529;
      width: 423px;
      height: 423px;
      margin: 0; /* 여백 제거 */
      padding: 1px 1px; /* 위아래 간격 조정 */
   }
}

    .card .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        opacity: 0;
        transition: opacity 0.3s ease;

        /* Updated styles for the overlay */
        font-size: 18px; /* Adjust the font size for the entire overlay */
        padding: 10px; /* Increase the padding to make it larger */
    }

    .card:hover .overlay {
        opacity: 1;
    }

    .overlay i {
        font-size: 24px; /* Increase the font size for the font-awesome icons */
    }

    .overlay span {
        font-size: 20px; /* Increase the font size for the text values */
        /* ... (existing styles) ... */
        padding: 0 10px;
        display: flex; /* 아이콘과 텍스트를 flex 컨테이너로 설정 */
        align-items: center; /* 수직 정렬을 위해 센터 정렬 */
        
    }

/* Adjust the img to fill the .card container */
.card img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   /* This will make the image fill the container, cropping if necessary */
   object-position: center;
   /* This will center the image within the container */
}
/* 게시물 삭제 버튼 위치 css */
.delete-button-container {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: transparent;
	border: none;
	padding: 0;
}

.delete-button-container i {
	color: red;
}

#siren {
	position: absolute;
	top: 10px;
	right: 10px;
}
</style>

</head>
<body style="background-color: #212529; overflow-x: hidden;">
	<nav
      class="navbar navbar-expand-lg navbar-light bg-light justify-content-start fixed-top">
      <a th:href="@{/index}" class="btn logo-icon-button">
         <img src="/logo/mainlogo2.png" alt="로고"
         style="max-height: 15%; max-width: 15%;"> <span style="font-size: 24px;">GYM_PT</span>
      </a>

      <button id="searchToggle" class="btn btn-primary pt-2" type="button">
         <i class="fas fa-search"></i>
      </button>

      <!-- 로그인한 사용자에게만 보여질 내용 -->
      <div th:if="${#authentication.principal != 'anonymousUser'}">
         <button id="myToggle" class="btn profile-icon-button" type="button">
            <img th:src="@{/image/} + ${#authentication.principal.profile}"
               alt="Profile Picture"
               style="width: 30px; height: 30px; border-radius: 50%;">
         </button>
      </div>
      <!-- 로그인하지 않은 사용자에게 보여질 내용 -->
      <div th:unless="${#authentication.principal != 'anonymousUser'}">
         <a href="#"></a>
      </div>


      <a th:href="@{/chat/room}" class="btn chat-icon-button" type="button">
         <i class="material-icons">send</i>
      </a>

      <div id="searchFormWrapper"
         class="d-none d-flex align-items-center mx-auto">
			<form action="selectMember" method="get" class="ms-0 mb-5 mt-5 pt-5"
				id="selectMemberForm">
				<!-- 컴퓨터용 -->
				<input type="hidden" id="curPage" name="curPage" th:value="0">
				<input type="hidden" id="rowSizePerPage" name="rowSizePerPage"
					th:value="${rp}">
				<div class="row mt-3 justify-content-center">
					<div class="col-auto me-1">
						<select class="form-select" id="searchType" name="searchType"
							th:value="${st}" style="display: none;">
							<option value="">검색</option>
							<option value="both" th:selected="${st == 'both'}">아이디
								또는 닉네임</option>
						</select>
					</div>
					<div class="col-6 me-1">
						<input class="form-control me-2 bg-dark text-light"
							name="searchWord" type="text" placeholder="🍳검색" />
					</div>
					<div class="col-auto btn-group">
						<input type="submit" class="col-1 btn btn-success me-2" value="검색">
					</div>
				</div>
			</form>
		</div>

      <div th:if="${#authentication.principal != 'anonymousUser'}"
         id="myFormWrapper"
         class="d-none d-flex mx-auto flex-column align-items-center">
         <img th:src="@{/image/} + ${#authentication.principal.profile}"
            alt="Profile Picture"
            style="width: 80px; height: 80px; border-radius: 50%;">
         <p th:text="${#authentication.principal.nickname}" class="m-0"></p>
         <p th:text="${#authentication.principal.username}"
            style="color: gray;" class="m-0"></p>
			<a
				th:href="@{/getMember(id=${#authentication.principal.username})}"
				style="color: white;" class="m-0"><i class="fas fa-user"></i>
				마이 페이지</a> <a href="logout" onclick="return confirm('로그아웃 하시겠습니까?')"
				style="color: white;" class="m-0"><i class="fas fa-sign-out-alt"></i>
				로그아웃</a>
         <!-- 로그인 안되어있을떄  -->
      </div>
   </nav>

   <div class="sidebar">
      <ul>
         <!-- 로그인하지 않은 상태일 때 로그인 및 회원가입 링크를 보여줍니다 -->
         <li th:if="${#authentication.principal == 'anonymousUser'}"
            class="login-signup"><a th:href="@{/login}">로그인</a> <a
            th:href="@{/insertMember}">회원가입</a></li>

         <!-- 로그인한 상태일 때 사용자 닉네임을 보여줍니다 -->
         <li th:unless="${#authentication.principal == 'anonymousUser'}"><span
               th:text="${#authentication.principal.nickname}"></span>님 접속중
         </li>

         <li><hr></li>
         <!-- New list item for horizontal rule -->
         <li><a th:href="@{/index}"><i class="fas fa-home"></i> 홈</a></li>
         <li><a th:href="@{#}" style="color: #289AFF;"><i
               class="fas fa-users"></i> 커뮤니티</a></li>
         <li><a href="#" onclick="toggleSubMenu()"><i
               class="fas fa-dumbbell"></i> 쇼핑몰</a>
            <ul id="submenu" class="submenu">
               <li><a th:href="@{/shopBoardList}"><i
                     class="fas fa-shopping-cart"></i> 쇼핑하기</a></li>
               <li><a th:href="@{/cartList}"><i
                     class="fas fa-shopping-basket"></i> 장바구니</a></li>
               <li><a th:href="@{/orderList}"><i class="fas fa-list-ul"></i>
                     주문목록</a></li>
               <li><a th:href="@{/insertPoint}"><i class="fas fa-coins"></i>
                     포인트 충전</a></li>
               <li><a th:href="@{/getBoardList}"><i
                     class="fas fa-headset"></i> 고객센터</a></li>
            </ul></li>
         <li><a th:href="@{/getNewsList}"><i class="fas fa-newspaper"></i>
               뉴스</a></li>
         <li><hr></li>
         <!-- New list item for horizontal rule -->
         <li><a th:href="@{/map}"><i class="fas fa-map-marker-alt"></i>
               내 주변 헬스장 찾기</a></li>
         <li><a th:href="@{/selectMember}"><i class="fas fa-user"></i>
               유저 검색</a></li>
         <li><a th:href="@{/getLikedCommunities}"><i
               class="fas fa-heart"></i> 좋아요 한 게시물</a></li>
         <li><hr></li>
         <!-- New list item for horizontal rule -->
         <li><a th:href="@{/getInformlist}"><i
               class="fas fa-volume-up"></i> 공지사항</a></li>
         <li><a th:href="@{/getBoardList}"><i class="fas fa-headset"></i>
               문의사항</a></li>

         <li><hr></li>
         <li
            th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
            <a th:href="@{/adminpage}"> <i class="fas fa-user"></i> 관리자 페이지
         </a>
         </li>
      
         <!-- New list item for horizontal rule -->
      </ul>
   </div>


   <script>
      function toggleSubMenu() {
         var submenu = document.getElementById('submenu');
         submenu.classList.toggle('active');
      }
   </script>

   <div class="sidebar-toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
   </div>



   <script>
      $(document).ready(function() {
         $('.sidebar-toggle').on('click', function() {
            $('.sidebar').toggleClass('active');
            $(this).toggleClass('active');
         });

         $('.product-container').slick({
            slidesToShow : 3,
            slidesToScroll : 1,
            prevArrow : $('.carousel-control.left'),
            nextArrow : $('.carousel-control.right'),
            responsive : [ {
               breakpoint : 768,
               settings : {
                  slidesToShow : 1
               }
            } ]
         });
      });

      $(document).ready(function() {
         $("#searchToggle").on('click', function() {
            $("#searchFormWrapper").toggleClass('d-none'); // 검색창을 보이거나 숨김
         });
      });

      $(document).ready(function() {
         $("#myToggle").on('click', function() {
            $("#myFormWrapper").toggleClass('d-none'); // 검색창을 보이거나 숨김
         });
      });
   </script>
   <!-- nav -->

	<div class="container mb-3 pb-3 mt-5 pt-5" align="left">
		<div class="image-grid">
			<div th:each="community, state : ${boardList}">
				<div class="card">
					<a th:href="@{/getCommunity(c_seq=${community.c_seq})}">
						<div class="overlay">
							<span class="like-count"><i class="far fa-heart"></i> <span
								th:text="${community.c_like}"></span></span> <span
								class="comment-count"><i class="far fa-comment"></i> <span
								th:text="${community.replyCount}"></span></span> <span
								class="view-count"><i class="far fa-eye"></i> <span
								th:text="${community.c_cnt}"></span></span>

							<!-- 신고된 게시물 삭제 버튼 -->
							<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
								<span
									th:if="${community.reported != null and community.processed != null and member.role != null and community.reported and community.processed and member.role == 'ADMIN'}"></span>
								<button type="button" class="report-button delete-button-container"
									data-bs-toggle="modal" data-bs-target="#deleteConfirmModal"
									th:data-c_seq="${community.c_seq}"
									th:if="${community.processed == true}"
									style="font-size: 14px;"><i class="fas fa-trash-alt"></i></button>
							</div>

							<button
								th:unless="${#authorization.expression('hasRole(''ADMIN'')')}"
								th:if="${community.member.id != memberId}"
								class="report-button" th:data-c_seq="${community.c_seq}"
								data-bs-toggle="modal" data-bs-target="#reportModal"
								style="background-color: transparent; border: none; margin-top: 3px;">
								<span style="font-size: 30px;" id="siren">🚨</span>
							</button>
						</div>
					</a> <img th:src="@{'/community/'+${community.c_upload.split(',')[0]}}"
						alt="Image">
				</div>
			</div>
		</div>
		<!-- 게시판 -->
	    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content" style="background-color: #212529;">
		            <div class="modal-header">
		                <h5 class="modal-title" id="reportModalLabel">게시물 신고</h5>
		                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		            </div>
		            <div class="modal-body">
		                <form action="/reportCommunity" method="post" id="reportForm">
		                    <input type="hidden" name="c_seq" id="reportCSeq">
		                    <div class="form-group">
		                        <label>신고 사유:</label>
							    <div class="form-check">
							        <input class="form-check-input" type="checkbox" name="report_reason" id="reason1" value="욕설 및 비방">
							        <label class="form-check-label" for="reason1">
							            욕설 및 비방
							        </label>
							    </div>
							    <div class="form-check">
							        <input class="form-check-input" type="checkbox" name="report_reason" id="reason2" value="도배 및 스팸">
							        <label class="form-check-label" for="reason2">
							            도배 및 스팸
							        </label>
							    </div>
							    <div class="form-check">
							        <input class="form-check-input" type="checkbox" name="report_reason" id="reason3" value="불법 콘텐츠">
							        <label class="form-check-label" for="reason3">
							            불법 콘텐츠
							        </label>
							    </div>
							    <div class="form-check">
							        <input class="form-check-input" type="checkbox" name="report_reason" id="reason4" value="음란물 컨텐츠">
							        <label class="form-check-label" for="reason4">
							            음란물 컨텐츠
							        </label>
							    </div>
		                    </div>
		                    <button type="submit" class="btn btn-primary">신고</button><br /> <span style="color: red; font-weight: bold;">❌신중히 신고해주세요!❌</span>
		                </form>
		            </div>
		        </div>
		    </div>
		</div>

		<!-- 게시물 삭제 확인 모달 -->
		<div class="modal fade" id="deleteConfirmModal" tabindex="-1"
			aria-labelledby="deleteConfirmModalLabel" aria-hidden="true"
			data-c_seq="">
			<div class="modal-dialog">
				<div class="modal-content" style="background-color: #212529; color: white;">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteConfirmModalLabel" style="font-weight: bold;">게시물 삭제</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>⚠️ 정말로 이 게시물을 삭제하시겠습니까?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
						<button type="button" class="btn btn-danger"
							onclick="deleteReportedCommunityConfirm()">삭제</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 알림을 띄우는 부분 -->
		<div id="alertContainer"
			style="position: fixed; top: 10px; left: 50%; transform: translateX(-50%); z-index: 9999;">
			<div id="alertBox"
				class="alert alert-success alert-dismissible fade show"
				style="display: none;">
				<strong class="message"></strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>
		</div>
		<button class="upbtn" type="button"
         onclick="location.href='insertCommunity'">✚</button>
   </div>
	</div>
	<!-- main -->

	<script>
		$(document).ready(function() {
			$(".report-button").on("click", function(event) {
				event.preventDefault();
			});
		});

		$(document).ready(function() {
			$('#reportModal').on('show.bs.modal', function(event) {
				var button = $(event.relatedTarget);
				var cSeq = button.data('c_seq');
				var modal = $(this);
				modal.find('#reportCSeq').val(cSeq);
				
				// 신고 모달이 표시될 때 체크박스 초기화
	            modal.find('input[type="checkbox"]').prop('checked', false);
			});

			// 폼 제출 이벤트 가로채서 알림 표시
			$('#reportForm').on('submit', function(event) {
				event.preventDefault(); // 기본 폼 제출 방지

				var formData = $(this).serializeArray();
				var cSeq = $('#reportCSeq').val();

				$.ajax({
					url : '/reportCommunity',
					type : 'post',
					data : formData,
					success : function(response) {
						showAlert('신고가 정상적으로 처리되었습니다!');
						$('#reportModal').modal('hide');
					},
					error : function() {
						showAlert('오류가 발생했습니다. 다시 시도해주세요.');
					}
				});
			});

			// 알림 보여주기
			function showAlert(message) {
				var alertBox = $('#alertBox');
				alertBox.find('.message').text(message);
				alertBox.fadeIn();
				setTimeout(function() {
					alertBox.fadeOut();
				}, 2000); // 2초 후에 알림을 사라지게 함
			}
		});
	</script>

	<!-- 신고 처리 게시글 삭제 기능 JS -->
	<script>
		// 알림 보여주기 (전역 함수로 이동)
		function showAlert(message) {
			var alertBox = $('#alertBox');
			alertBox.find('.message').text(message);
			alertBox.fadeIn('slow', function() {
				setTimeout(function() {
					alertBox.fadeOut('slow');
				}, 2000); // 2초 후에 알림을 사라지게 함
			});
		}

		// 게시물 삭제 확인 모달의 확인 버튼 클릭 시 호출되는 함수
		function deleteReportedCommunityConfirm() {
			var c_seq = $('#deleteConfirmModal').data('c_seq');
			if (c_seq) {
				$.ajax({
					url : '/deleteReportedCommunity/' + c_seq,
					type : 'get',
					success : function(response) {
						showAlert('게시물이 삭제되었습니다!');
						$('#deleteConfirmModal').modal('hide');
					},
					error : function() {
						showAlert('게시물 삭제 중 오류가 발생했습니다.');
						$('#deleteConfirmModal').modal('hide');
					}
				});
			}
		}

		$(document).ready(function() {
			// 게시물 삭제 확인 모달을 띄우는 함수
			function deleteReportedCommunity(c_seq) {
				$('#deleteConfirmModal').data('c_seq', c_seq); // 게시물 번호 저장
				$('#deleteConfirmModal').modal('show'); // 삭제 확인 모달 표시
			}

			// 삭제 버튼 클릭 시 게시물 삭제 확인 모달 띄우기
			$('.report-button.delete-button-container').on('click', function() {
				var c_seq = $(this).data('c_seq');
				deleteReportedCommunity(c_seq);
			});

			// 삭제 확인 모달의 확인 버튼 클릭 시 게시물 삭제 함수 호출
			$('#deleteConfirmModal .btn-danger').on('click', function() {
				deleteReportedCommunityConfirm();
			});

		});
	</script>
 <!-- footer -->
    <div class="footer" style="margin-top: auto;">
        <div class="container" align="left">
            <div class="row">
                <div class="col-md-4 footer-section">
                    <a href="#" class="footer-logo">GYM_PT</a>
                    <p class="dimmed-text">Growth Your Momentum-PT</p>
                    <div class="social-icons">
                        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div class="col-md-4 footer-section">
                    <h4>About Us</h4>
                    <div class="dimmed-text">
                        <div class="contact-info">대표이사: 김연수 | 사업자등록 번호: 809-81-01574</div>
                        <div class="contact-info">영업 시간: 평일 9:00-18:00</div>
                        <div class="contact-info">회사 신념: "Growth Your Momentum-PT"</div>
                        <div class="contact-info">수상: "2023년 최고의 피트니스 웹사이트"로 선정</div>
                    </div>
                </div>
                <div class="col-md-4 footer-section">
                    <h4>Contact Us</h4>
                    <div class="dimmed-text">
                        <div>주소: 서울시 송파구 가락동</div>
                        <div>전화: 1588-3819 (평일 9:00-18:00)</div>
                        <div>결제도용신고: 1588-3816</div>
                        <div>이메일: help@gympt.com</div>
                        <div>고객센터 이용안내: 고객님의 소중한 의견을 기다립니다.</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">&copy; 2023 GYM_PT. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
   <!-- footer -->
</body>
</html>
