<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${member.nickname}"></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
   rel="stylesheet"
   integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
   crossorigin="anonymous">
<script
   src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
   crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
    <link th:href="@{/css/atag.css}" rel="stylesheet"> <!-- a태그관련 스타일 -->
    <link th:href="@{/css/btnprimary.css}" rel="stylesheet"> <!-- btn 스타일 -->
    <link th:href="@{/css/navbar.css}" rel="stylesheet"> <!-- navbar 스타일 -->
<link th:href="@{/css/footer.css}" rel="stylesheet"> <!-- footer 스타일 -->
<link th:href="@{/css/pagination.css}" rel="stylesheet"> <!-- page 스타일 -->

<!-- navbar 스타일 -->

<!-- mypage 스타일 -->
</head>
<style>
/* CSS 스타일 */
.transparent-background {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 12px;
	width: 50%;
	text-align: center;
}

.transparent-background-btn {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 12px;
}
</style>
<body style="background-color: #212529; overflow-x: hidden;">
	<nav
      class="navbar navbar-expand-lg navbar-light bg-light justify-content-start fixed-top">
      <a th:href="@{/index}" class="btn logo-icon-button">
         <img src="/logo/mainlogo2.png" alt="로고"
         style="max-height: 15%; max-width: 15%;"> <span style="font-size: 24px;">GYM_PT</span>
      </a>

      <button id="searchToggle" class="btn btn-primary pt-2" type="button">
         <i class="fas fa-search"></i>
      </button>


      <!-- 로그인한 사용자에게만 보여질 내용 -->
      <div th:if="${#authentication.principal != 'anonymousUser'}">
         <button id="myToggle" class="btn profile-icon-button" type="button">
            <img th:src="@{/image/} + ${#authentication.principal.profile}"
               alt="Profile Picture"
               style="width: 30px; height: 30px; border-radius: 50%;">
         </button>
      </div>
      <!-- 로그인하지 않은 사용자에게 보여질 내용 -->
      <div th:unless="${#authentication.principal != 'anonymousUser'}">
         <a href="#"></a>
      </div>


      <a th:href="@{/chat/room}" class="btn chat-icon-button" type="button">
         <i class="material-icons">send</i>
      </a>

      <div id="searchFormWrapper"
         class="d-none d-flex align-items-center mx-auto">
			<form action="getMemberList" method="get" class="ms-0"
				id="getMemberListForm">
				<!-- 컴퓨터용 -->
				<input type="hidden" id="curPage" name="curPage" th:value="0">
				<input type="hidden" id="rowSizePerPage" name="rowSizePerPage"
					th:value="${rp}">
				<div class="row justify-content-center">
					<div class="col-auto">
						<div class="input-group">
							<select class="form-select" id="searchType" name="searchType"
								th:value="${st}" style="display: none;">
								<option value="">검색</option>
								<option value="both" th:selected="${st == 'both'}">아이디
									또는 닉네임</option>
							</select> <input class="form-control bg-dark text-light" name="searchWord"
								type="text" placeholder="🍳유저 검색" />
							<button class="btn btn-primary" type="submit">검색</button>
						</div>
					</div>
				</div>
			</form>
		</div>

      <div th:if="${#authentication.principal != 'anonymousUser'}"
         id="myFormWrapper"
         class="d-none d-flex mx-auto flex-column align-items-center">
         <img th:src="@{/image/} + ${#authentication.principal.profile}"
            alt="Profile Picture"
            style="width: 80px; height: 80px; border-radius: 50%;">
         <p th:text="${#authentication.principal.nickname}" class="m-0"></p>
         <p th:text="${#authentication.principal.username}"
            style="color: gray;" class="m-0"></p>
			<a
				th:href="@{/getMember(id=${#authentication.principal.username})}"
				style="color: white;" class="m-0"><i class="fas fa-user"></i>
				마이 페이지</a> <a href="logout" onclick="return confirm('로그아웃 하시겠습니까?')"
				style="color: white;" class="m-0"><i class="fas fa-sign-out-alt"></i>
				로그아웃</a>
         <!-- 로그인 안되어있을떄  -->
      </div>
   </nav>

   <div class="sidebar">
      <ul>
         <!-- 로그인하지 않은 상태일 때 로그인 및 회원가입 링크를 보여줍니다 -->
         <li th:if="${#authentication.principal == 'anonymousUser'}"
            class="login-signup"><a th:href="@{/login}">로그인</a> <a
            th:href="@{/insertMember}">회원가입</a></li>

         <!-- 로그인한 상태일 때 사용자 닉네임을 보여줍니다 -->
         <li th:unless="${#authentication.principal == 'anonymousUser'}"><span
               th:text="${#authentication.principal.nickname}"></span>님 접속중
         </li>

         <li><hr></li>
         <!-- New list item for horizontal rule -->
         <li><a th:href="@{/index}"><i class="fas fa-home"></i> 홈</a></li>
         <li><a th:href="@{/getCommunityList}"><i
               class="fas fa-users"></i> 커뮤니티</a></li>
         <li><a href="#" onclick="toggleSubMenu()"><i
               class="fas fa-dumbbell"></i> 쇼핑몰</a>
            <ul id="submenu" class="submenu">
               <li><a th:href="@{/shopBoardList}"><i
                     class="fas fa-shopping-cart"></i> 쇼핑하기</a></li>
               <li><a th:href="@{/cartList}"><i
                     class="fas fa-shopping-basket"></i> 장바구니</a></li>
               <li><a th:href="@{/orderList}"><i class="fas fa-list-ul"></i>
                     주문목록</a></li>
               <li><a th:href="@{/insertPoint}"><i class="fas fa-coins"></i>
                     포인트 충전</a></li>
               <li><a th:href="@{/getBoardList}"><i
                     class="fas fa-headset"></i> 고객센터</a></li>
            </ul></li>
         <li><a th:href="@{/getNewsList}"><i class="fas fa-newspaper"></i>
               뉴스</a></li>
         <li><hr></li>
         <!-- New list item for horizontal rule -->
         <li><a th:href="@{/map}"><i class="fas fa-map-marker-alt"></i>
               내 주변 헬스장 찾기</a></li>
         <li><a th:href="@{/selectMember}"><i class="fas fa-user"></i>
               유저 검색</a></li>
         <li><a th:href="@{/getLikedCommunities}"><i
               class="fas fa-heart"></i> 좋아요 한 게시물</a></li>
         <li><hr></li>
         <!-- New list item for horizontal rule -->
         <li><a th:href="@{/getInformlist}"><i
               class="fas fa-volume-up"></i> 공지사항</a></li>
         <li><a th:href="@{/getBoardList}"><i class="fas fa-headset"></i>
               문의사항</a></li>

         <li><hr></li>
         <li
            th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
            <a th:href="@{/adminpage}" style="color: #289AFF;"> <i class="fas fa-user"></i> 관리자 페이지
         </a>
         </li>
      
         <!-- New list item for horizontal rule -->
      </ul>
   </div>


   <script>
      function toggleSubMenu() {
         var submenu = document.getElementById('submenu');
         submenu.classList.toggle('active');
      }
   </script>

   <div class="sidebar-toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
   </div>



   <script>
      $(document).ready(function() {
         $('.sidebar-toggle').on('click', function() {
            $('.sidebar').toggleClass('active');
            $(this).toggleClass('active');
         });

         $('.product-container').slick({
            slidesToShow : 3,
            slidesToScroll : 1,
            prevArrow : $('.carousel-control.left'),
            nextArrow : $('.carousel-control.right'),
            responsive : [ {
               breakpoint : 768,
               settings : {
                  slidesToShow : 1
               }
            } ]
         });
      });

      $(document).ready(function() {
         $("#searchToggle").on('click', function() {
            $("#searchFormWrapper").toggleClass('d-none'); // 검색창을 보이거나 숨김
         });
      });

      $(document).ready(function() {
         $("#myToggle").on('click', function() {
            $("#myFormWrapper").toggleClass('d-none'); // 검색창을 보이거나 숨김
         });
      });
   </script>
   <!-- nav -->
	<div class="container mt-5 mb-2 pt-5 pb-5">
		<div class="row mt-4">
			<table class="table table-hover">
				<thead class="table-dark text-center">
					<tr>
						<th class=" text-center">프로필사진</th>
						<th class=" text-center">아이디</th>
						<th class=" text-center">이름</th>
						<th class=" text-center">닉네임</th>
						<th class=" text-center">생년월일</th>
						<th class=" text-center">이메일</th>
						<th class=" text-center">키</th>
						<th class=" text-center">몸무게</th>
						<th class=" text-center">주소</th>
						<th class=" text-center">휴대전화</th>
						<th class=" text-center">성별</th>
						<th class=" text-center">계좌번호</th>
						<th class=" text-center">보유포인트</th>
						<th class=" text-center">역할</th>
						<th class=" text-center">강퇴</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="member, state : ${pagedResult.getContent()}">
						<!-- th:unless="${member.role == 'admin'}" -->
						<td style="width: 100px; height: 100px; padding: 0;"
							align="center"><a th:href="@{/getMember(id=${member.id})}">
								<img class="mt-2" th:src="@{/image/} + ${member.profile}"
								alt="사진" style="width: 50%; height: 50%; border-radius: 50%;">
						</a></td>
						<td align="center"><a
							th:href="@{/getMember(id=${member.id})}">
								<p style="font-weight: bolder; color: white;"
									th:text="${member.id}"></p>
						</a></td>
						<td align="center">
							<p style="font-size: 12px; color: white;"
								th:text="${member.name}"></p>
						</td>
						<td align="center">
							<p style="font-size: 12px; color: white;"
								th:text="${member.nickname}"></p>
						</td>
						<td align="center">
							<p style="font-size: 12px; color: white;"
								th:text="${member.birth}"></p>
						</td>
						<td align="center">
							<p style="font-size: 12px; color: white;"
								th:text="${member.email}"></p>
						</td>
						<td align="center">
							<p style="font-size: 12px; color: white;"
								th:text="${member.height} + cm"></p>
						</td>
						<td align="center">
							<p style="font-size: 12px; color: white;"
								th:text="${member.weight} + kg"></p>
						</td>
						<td align="center">
							<p style="font-size: 12px; color: white;"
								th:text="${member.userAddr2}"></p>
						</td>
						<td align="center">
							<p style="font-size: 12px; color: white;"
								th:text="${member.p_num}"></p>
						</td>
						<td align="center">
							<p style="font-size: 12px; color: white;"
								th:text="${member.gender}"></p>
						</td>
						<td align="center">
							<p style="font-size: 12px; color: white;"
								th:text="${member.account}"></p>
						</td>
						<td align="center">
							<form th:action="@{/updatePoint}" method="post"
								enctype="multipart/form-data">
								<input name="id" type="hidden" th:value="${member.id}" /> <input
									type="hidden" name="point" class="result-input"
									th:value="${#numbers.formatInteger(member.point, 3)}" required
									placeholder="계산 결과" readonly>
								<!-- input 태그 -->
								<input type="text" name="point"
									class="result-input-comma transparent-background"
									th:value="${member.point == 0 ? '0' : #numbers.formatInteger(member.point, 3, 'COMMA')}"
									required placeholder="계산 결과" readonly> <br /> <input
									type="text" name="num1"
									class="num1-input transparent-background" required
									placeholder="충전 가격 입력"> <br /> <input type="hidden"
									name="num2" class="num2-input" th:value="${member.point}"
									required> <input type="button" value="더하기"
									onclick="calculate(this)" class="transparent-background-btn"
									style="font-size: 12px; color: white;"> <input
									type="submit" value="충전" class="transparent-background-btn"
									onclick="return confirm('포인트 충전을 수락하시겠습니까?')"
									style="font-size: 12px; color: white;">
							</form>
						</td>

						<td align="center">
							<p style="font-size: 12px; color: white;"
								th:text="${member.role}"></p>
						</td>
						<td align="center"><a
							th:href="@{/adminDeleteMember(id=${member.id})}"
							onclick="return confirm('탈퇴시키겠습니까?')">❌</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script>
		function calculate(button) {
			var row = button.closest('tr');
			var num1Input = row.querySelector('.num1-input');
			var num2Input = row.querySelector('.num2-input');
			var resultInput = row.querySelector('.result-input');
			var resultInputComma = row.querySelector('.result-input-comma');

			var num1 = parseFloat(num1Input.value.replace(/,/g, ''));
			var num2 = parseFloat(num2Input.value.replace(/,/g, ''));

			if (isNaN(num1) || isNaN(num2)) {
				alert("숫자를 올바르게 입력해주세요.");
				return;
			}

			var sum = num1 + num2;

			resultInput.value = addCommas(sum);
			resultInputComma.value = addCommas(sum);

			num2Input.value = addCommas(sum);
		}

		function addCommas(number) {
			return number.toString();
		}
	</script>

	<div class="align-items-start mt-3"
		th:if="${pagedResult.getTotalElements() > 0}">
		<ul class="btn-sm pagination justify-content-center">
			<th:block th:if="${ cp >= 1 }">
				<li class="page-item"><a
					th:href="@{/getMemberList(curPage=0, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}"
					class="page-link"><i class="fas fa-fast-backward"></i></a></li>
				<li class="page-item"><a
					th:href="@{/getMemberList(curPage=${cp-1}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}"
					class="page-link"><i class="fas fa-backward"></i></a></li>
			</th:block>

			<th:block
				th:each="page : ${#numbers.sequence(pagingInfo.getStartPage(), pagingInfo.getEndPage())} "
				th:if="${pagingInfo.getTotalPageCount() > 1}">
				<li class="page-item"
					th:classappend="${(page-1)==pagingInfo.getCurPage() ? 'active' : ''}"><a
					class="page-link"
					th:href="@{/getMemberList(curPage=${page-1}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}"
					th:text="${page}"></a></li>
			</th:block>

			<th:block th:if="${ cp + 1 lt tp }">
				<li class="page-item"><a
					th:href="@{/getMemberList(curPage=${cp + 1}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}"
					class="page-link"><i class="fas fa-forward"></i></a></li>
			</th:block>
			<th:block th:if="${ cp +1 < tp }">
				<li class="page-item"><a
					th:href="@{/getMemberList(curPage=${tp-1}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}"
					class="page-link"><i class="fas fa-fast-forward"></i></a></li>
			</th:block>
		</ul>
		<!-- pagination -->
	</div>
	<!-- 페이징 -->

	 <!-- footer -->
    <div class="footer" style="margin-top: auto;">
        <div class="container" align="left">
            <div class="row">
                <div class="col-md-4 footer-section">
                    <a href="#" class="footer-logo">GYM_PT</a>
                    <p class="dimmed-text">Growth Your Momentum-PT</p>
                    <div class="social-icons">
                        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div class="col-md-4 footer-section">
                    <h4>About Us</h4>
                    <div class="dimmed-text">
                        <div class="contact-info">대표이사: 김연수 | 사업자등록 번호: 809-81-01574</div>
                        <div class="contact-info">영업 시간: 평일 9:00-18:00</div>
                        <div class="contact-info">회사 신념: "Growth Your Momentum-PT"</div>
                        <div class="contact-info">수상: "2023년 최고의 피트니스 웹사이트"로 선정</div>
                    </div>
                </div>
                <div class="col-md-4 footer-section">
                    <h4>Contact Us</h4>
                    <div class="dimmed-text">
                        <div>주소: 서울시 송파구 가락동</div>
                        <div>전화: 1588-3819 (평일 9:00-18:00)</div>
                        <div>결제도용신고: 1588-3816</div>
                        <div>이메일: help@gympt.com</div>
                        <div>고객센터 이용안내: 고객님의 소중한 의견을 기다립니다.</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">&copy; 2023 GYM_PT. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
   <!-- footer -->
</body>
</html>
